- var skills = stack

include ./stack.pug

ul.stack__list
    if skills.length
        each skill in skills
            li.stack__item
                .stack__name=skill.type
                .stack__techs
                    +stack(skill.skills)
    else
        h3.stack__fallback.subtitle Скиллов пока нет

